nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(119, 84, 68);
    color: rgb(255, 255, 255);
}

#salsicha {
    width: 70px;
}

body {
    background-color: rgb(190, 143, 80);
    background-image: url(assets/wall3.webp);
    background-repeat: no-repeat;    
    background-size: cover;
    margin: 0px;
}

.bodi{
    background-image: url(assets/wall2.jpg);
    margin: 0px;
}

.navlog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(99, 87, 64);
    color: rgb(255, 255, 255);
}

#lfor{
    color: rgb(146, 81, 38);
    font-size: 30px;
    
}

#log{
    color: rgb(255, 255, 255);
}

#dog{
    width: 50px;
}

#dogtris{
    width: 60px;
}

.logzin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:x-large;
    margin: 20px;
    
}

#form{
border: 5px solid rgb(99, 87, 64);
background-color:rgb(143, 130, 107);
border-radius: 30px;
padding: 10px;
width: 400px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}

#adotar{
 display: flex;
 margin: 10px;
 gap: 50px;
 justify-content:center;
 align-items: center;
}

.Dogs{
     margin: 20 px;
    text-align: center;
    background-color:rgb(143, 130, 107);
    border: 5px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    align-items: center;
}

#posso{
    border-radius: 25px;
    width: 280px;
    padding: 10px;
}
button {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    cursor: pointer;
}
#botao2{
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(143, 130, 107);
    color: white;
    cursor: pointer;
}
input{
    
    background-color: rgb(255, 255, 255);
}